/* modified from: https://fonts.bunny.net/css?family=instrument-sans:400,500,600 */

@font-face {
    font-family: 'Instrument Sans';
    font-style: normal;
    font-weight: 400;
    src: url(/fonts/instrument-sans-latin-400-normal.woff2) format('woff2');
}

@font-face {
    font-family: 'Instrument Sans';
    font-style: normal;
    font-weight: 500;
    src: url(/fonts/instrument-sans-latin-500-normal.woff2) format('woff2');
}

@font-face {
    font-family: 'Instrument Sans';
    font-style: normal;
    font-weight: 600;
    src: url(/fonts/instrument-sans-latin-600-normal.woff2) format('woff2');
}
