name: tests

on:
  push:
    branches: ['main']

  pull_request:
    branches: ['main']

jobs:
  ci:
    runs-on: ubuntu-latest

    env:
      DB_HOST: localhost

    services:
      postgres:
        image: postgis/postgis:18-3.6-alpine
        env:
          POSTGRES_USER: sail
          POSTGRES_PASSWORD: password
          POSTGRES_DB: testing
        ports:
          - 5432:5432
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 3

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.5'

      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version: '24'

      - name: Install Dependencies
        run: |
          composer install --no-interaction
          npm ci

      - name: Copy Environment File
        run: cp .env.example .env

      - name: Generate Application Key
        run: php artisan key:generate

      - name: Build Assets
        run: npm run build

      - name: Run Pest
        run: composer run test

      - name: Run Vitest
        run: npm run test
